In [11]:
pip install pandas

Requirement already satisfied: pandas in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [11]:
titanic = pd.read_csv("C:\\Users\\Steluv\\Downloads\\Titanic.csv",delimiter=",")

In [12]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"1,0,3,""Braund, Mr. Owen Harris"",male,22,1,0,A/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2,1,1,""Cumings, Mrs. John Bradley (Florence Br...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"3,1,3,""Heikkinen, Miss. Laina"",female,26,0,0,S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"4,1,1,""Futrelle, Mrs. Jacques Heath (Lily May ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"5,0,3,""Allen, Mr. William Henry"",male,35,0,0,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,"887,0,2,""Montvila, Rev. Juozas"",male,27,0,0,21...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,"888,1,1,""Graham, Miss. Margaret Edith"",female,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,"889,0,3,""Johnston, Miss. Catherine Helen """"Car...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,"890,1,1,""Behr, Mr. Karl Howell"",male,26,0,0,11...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,"891,0,3,""Dooley, Mr. Patrick"",male,32,0,0,3703...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
titanic.PassengerId.count()

891

In [24]:
titanic.Age.mean()

29.69911764705882

In [25]:
titanic.Fare.mean()

32.204207968574636

In [26]:
titanic.Fare.min()

0.0

In [28]:
titanic.Name[titanic.Fare == titanic.Fare.max()]

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [38]:
titanic.Age[titanic.Sex == 'female'].mean()

27.915708812260537

In [39]:
titanic.Age[titanic.Sex == 'male'].mean()

30.72664459161148

In [44]:
titanic.Survived[titanic.Sex == 'female'].mean() * 100//1

74.0

In [46]:
titanic.Survived[titanic.Sex == 'male'].mean() * 100//1

18.0

In [48]:
titanic.Fare[titanic.Embarked == "S"].mean()

27.079811801242233

In [49]:
titanic.Fare[titanic.Embarked == "A"].mean()

nan

In [50]:
titanic.Fare[titanic.Embarked == "C"].mean()

59.95414404761905

In [51]:
titanic.Fare[titanic.Embarked == "Q"].mean()

13.276029870129872

In [52]:
titanic.Ticket[titanic.Embarked == "C"].count()

168

In [53]:
titanic.Ticket[titanic.Embarked == "S"].count()

644

In [54]:
titanic.Ticket[titanic.Embarked == "Q"].count()

77

In [61]:
titanic.Survived.count()

891