In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\steluv\pycharmprojects\pythonproject8\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
car = pd.read_csv("C:\\Users\\Steluv\\PycharmProjects\\pythonProject8\\venv\\car.csv",delimiter=",")

In [4]:
car

,Unnamed: 0,Classes,Old Price,Price Change,New Price,date_range
0,"0,Peugeot 5008 A/T / Active Pack 2023,""1,029,9...",NaN,NaN,NaN,NaN,NaN
1,"1,Ssang Yong Tivoli XLV A/T / Style 2023,""675,...",NaN,NaN,NaN,NaN,NaN
2,"2,Ssang Yong Tivoli XLV A/T / Comfort 2023,""60...",NaN,NaN,NaN,NaN,NaN
3,"3,Ssang Yong Tivoli A/T / Style Plus 2023,""665...",NaN,NaN,NaN,NaN,NaN
4,"4,Ssang Yong Tivoli A/T / Comfort 2023,""590,00...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
3499,"3499,Lexus LX 570 Automtic 2020,""5,600,000 EGP...",NaN,NaN,NaN,NaN,NaN
3500,"3500,Lexus ES 350 Automtic 2020,""2,650,000 EGP...",NaN,NaN,NaN,NaN,NaN
3501,"3501,Lexus LX 570 Automtic 2020,""5,800,000 EGP...",NaN,NaN,NaN,NaN,NaN
3502,"3502,Porsche Cayenne A/T / S 2020,""2,262,876 E...",NaN,NaN,NaN,NaN,NaN
3503,"3503,Porsche Cayenne A/T / Coupe 2020,""2,078,7...",NaN,NaN,NaN,NaN,NaN